/* @import "fontawesome";  
@import 'solid';  
@import 'regular'; 
@import 'brands';  
@import 'animated';  
@import 'bordered-pulled';  
@import 'core';  
@import 'fixed-width';  
@import 'icons'; 
@import 'larger';  
@import 'list';  
@import 'path';  
@import 'rotated-flipped'; 
@import 'screen-reader';  
@import 'shims';  
@import 'stacked';  
@import 'v4-shims';  
@import 'mixins';  
@import 'variables';  */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif, Arial;
  font-size: 1.6rem;
  line-height: 2;
  width: 100%;
  margin: 0 auto; }

img {
  max-width: 100%; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.2rem; }

p {
  font-size: 2rem; }

body {
  overscroll-behavior-y: contain;
  background: rgba(233, 228, 228, 0.438);
  height: 80rem; }
  body .entorno {
    width: 100%;
    height: auto;
    min-height: 70rem;
    margin: 0 auto; }
    body .entorno .encabezado {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background: black;
      margin: 0px auto .5rem; }
      body .entorno .encabezado .img-biblia {
        min-width: 50%;
        width: 60%;
        margin: auto;
        border-radius: 5%; }
        body .entorno .encabezado .img-biblia:hover {
          filter: drop-shadow(0 0 2em #646cffaa); }
      @media (min-width: 200px) and (max-width: 668px) {
        body .entorno .encabezado .img-biblia {
          width: 100%; } }
      body .entorno .encabezado .titulo {
        display: inline-block;
        width: 100%;
        margin: auto 0;
        font-size: 4rem;
        color: #fff;
        text-align: center;
        font-weight: 300; }
        body .entorno .encabezado .titulo:hover {
          filter: drop-shadow(0 0 2em #f7f7fa);
          cursor: pointer; }
  body .navegacion {
    display: flex;
    width: 100%;
    height: 4.5rem; }
    body .navegacion .fa-bars {
      color: #000;
      font-size: 2.7rem;
      margin: auto 1rem; }
    body .navegacion .libros, body .navegacion .buscar {
      background: #2667ff;
      width: 10rem;
      height: 4rem;
      color: #fff;
      font-size: 1.8rem;
      margin: 2px 4px;
      border: none;
      border-radius: .5rem;
      box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75); }
      body .navegacion .libros:hover, body .navegacion .buscar:hover {
        background: #1755d1;
        cursor: pointer; }
  body .verso {
    width: 95%;
    margin: 0 auto;
    font-size: 1.9rem;
    border: 1px solid rgba(0, 0, 255, 0.548);
    border-radius: .5rem;
    padding: 1rem; }

.mesa-estudio {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: auto;
  border-radius: .5rem;
  overflow: hidden;
  row-gap: 10px;
  background-color: #fff;
  padding: 1rem;
  border-radius: .5rem; }
  .mesa-estudio .listado-libros {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background: #fff;
    color: rgba(0, 0, 0, 0.685); }
  .mesa-estudio .btn-libro {
    width: 18rem;
    height: 4rem;
    background: #2667ff;
    margin: 0 .5rem 0;
    margin: 0 auto;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
    box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75); }
    .mesa-estudio .btn-libro:hover {
      background: #1755d1;
      cursor: pointer; }
  .mesa-estudio .titulo-libro {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background: #fff;
    color: rgba(0, 0, 255, 0.63); }
    .mesa-estudio .titulo-libro .mas, .mesa-estudio .titulo-libro .menos {
      min-width: 3rem;
      font-size: 2.5rem;
      padding: 0.5rem;
      font-weight: 700; }
      .mesa-estudio .titulo-libro .mas:hover, .mesa-estudio .titulo-libro .menos:hover {
        border: 0.5px solid #2667ff7e;
        border-radius: 0.5rem;
        cursor: pointer; }
    .mesa-estudio .titulo-libro .none {
      display: none; }
  .mesa-estudio .verso-texto {
    width: 100%;
    margin: 0; }
    .mesa-estudio .verso-texto .verso-numero {
      line-height: 1.1;
      font-weight: 600; }

.mesa-estudio {
  display: none; }

.area-estudio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem auto;
  margin-top: 7rem; }
  .area-estudio .cuadro-capitulo {
    background-color: #fff;
    color: rgba(0, 0, 255, 0.63);
    width: 4rem;
    height: 4rem;
    margin: .7rem;
    text-align: center;
    border: 2px solid rgba(55, 190, 243, 0.582);
    border-radius: 0.5rem;
    font-size: 2rem; }
    .area-estudio .cuadro-capitulo:hover {
      background-color: #2667ff49;
      color: #fff;
      border: 2px solid rgba(0, 0, 255, 0.315);
      cursor: pointer; }
  .area-estudio .titulo-area-estudio {
    color: rgba(24, 23, 23, 0.9);
    text-align: center;
    font-size: 2rem; }
  .area-estudio .btn-seccion {
    background: #2667ff;
    margin: 1rem;
    height: 4rem;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    border-radius: .5rem;
    box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 31px -4px rgba(0, 0, 0, 0.75); }
    .area-estudio .btn-seccion:hover {
      background: #1755d1; }
  .area-estudio .titulo-libro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background: #fff;
    color: rgba(0, 0, 255, 0.63); }

.ocultar-area {
  display: none; }

.area-libros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 5rem; }

.publicidad {
  width: 100%;
  height: 6rem;
  background: rgba(255, 255, 0, 0.788);
  margin-top: 20rem;
  text-align: center; }
